.bg-color1 {
    background-color: #ec008c;
}
.bg-color2 {
    background-color: #f9d5e4;
}
.bg-color3 {
    background-color: #bcbdc0;
}
.bg-color4 {
    background-color: #d1d2d4;
}

.color1 {
    color: #ec008c;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-v-center {
    display: flex;
    align-items: center;
}

.text-x1 {
    font-size: 24px;
}

header .social-icon-box .icon-wrapper i {
    color: white;
    font-size: 18px;
    padding: 11px 16px;
}

nav .nav-item {
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}
@media (max-width: 767px) {
    nav .nav-item {
        border-right: none;
    }
}
nav .dropdown-menu {
    padding: 0;
    margin: 7px 0;
}
nav .dropdown-menu .dropdown-item {
    background-color: #f9d5e4;
    color: #ec008c;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
nav .dropdown-menu .dropdown-item:last-child {
    border-bottom: 0;
}
nav .navbar-toggler i {
    color: #fadceb;
}
nav .nav-link {
    color: white;
}

section .right-img-box {
    display: flex;
    align-items: center;
    padding: 0;
}
section .right-img-box ul {
    margin: 0 15px;
    padding: 10px 0;
}
section .right-img-box ul li {
    padding: 10px 0;
}

footer {

}