.bg-color1 {
    background-color: #ec008c;
}
.bg-color2 {
    background-color: #f9d5e4;
}
.bg-color3 {
    background-color: #bcbdc0;
}
.bg-color4 {
    background-color: #d1d2d4;
}

.color1 {
    color: #ec008c;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-v-center {
    display: flex;
    align-items: center;
}

.text-x1 {
    font-size: 24px;
}

header .social-icon-box ul li a {
    color: white;
    display: inline-block;
}
header .social-icon-box ul li a:hover {
    color: #b50085;
}
header .social-icon-box i {
    font-size: 18px;
    padding: 11px 6px;
}
header .img-donate {
    width: 100%;
}
@media (max-width: 767px) {
    header .img-donate {
        width: 70%;
    }
}

nav .nav-item {
    padding: 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}
@media (min-width: 768px) {
    nav .nav-item {
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media (max-width: 767px) {
    nav .nav-item {
        border-right: none;
    }
}
nav .nav-item:hover {
    background-color: #f9d5e4;
}
nav .nav-item:hover .dropdown-menu {
    display: block;
}
nav .nav-item:hover .nav-link {
    color: #ec008c;
}
nav .nav-link {
    color: white;
}
nav .dropdown-menu {
    margin-top: 1px;
    padding: 0;
    border-radius: 0;
}
nav .dropdown-menu .dropdown-item {
    background-color: #f9d5e4;
    color: #ec008c;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
nav .dropdown-menu .dropdown-item:hover {
    background-color: #ec008c;
    color: white;
}
nav .dropdown-menu .dropdown-item:last-child {
    border-bottom: 0;
}
nav .navbar-toggler i {
    color: #fadceb;
}

section .right-img-box {
    display: flex;
    align-items: start;
}
section .news-social-media-box {
    height: 320px;
}
section .news-social-media-content {
    height: calc(100% - 36px - 8px);
    overflow: auto;
}

section .color-text-box p {
    color: #ec008c;
    font-weight: bold;
    cursor: pointer;
}
section .color-text-box p:hover {
    font-weight: lighter;
}
section .faq-answer > div {
    display: none;
}
section .case-study-answer > div {
    display: none;
}

footer {
    padding: 10px 8px;
}
footer p {
    font-size: 12px;
}